<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Aiortc Media Proxy</title>

        <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/checkout/">

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    </head>

    <body class="bg-light">
        <div id="app" class="container" style="max-width: 600px">
            <div class="py-5 text-center">
                <h2>Aiortc Media Proxy</h2>
                <p class="lead">This admin panel shows current streams in the proxy and provides interface to create new streams</p>
            </div>

            <form @submit.prevent="create_stream">
                <div v-if="form.error" class="alert alert-danger" role="alert">{{ form.error }}</div>
                <div class="input-group">
                    <input v-model="form.url" type="text" class="form-control" id="url" aria-describedby="urlHelp" placeholder="Enter url" required>
                    <span class="input-group-append">
                        <button type="submit" class="btn btn-primary">Get stream</button>
                    </span>
                </div>

                <small id="urlHelp" class="form-text text-muted">You can create RTSP streams, for example rtsp://user:password@ip:port/path</small>
            </form>

<!--            <div class="media">-->
<!--                <audio id="audio" :srcObject="stream.audio" autoplay></audio>-->
<!--                <video id="video" :srcObject="stream.video" autoplay></video>-->
<!--            </div>-->

            <div class="text-center mt-4">
                Current media: {{ streams.length }} <button @click.prevent="refresh_streams" type="button" class="btn btn-sm btn-outline-secondary ml-4">Refresh</button>
            </div>

            <div class="mt-4">
                <div v-for="stream in streams" class="media-body p-3 mb-0 small lh-125 border-bottom border-gray">
                    <div class="d-flex justify-content-between align-items-center w-100">
                        <a @click.prevent="select_stream(stream)" href="#">{{ stream.key }}</a>
                        <span class="text-muted">TTL: {{ stream.ttl }}</span>
                    </div>
                    <span class="d-block">{{ stream.url }}</span>
                </div>
            </div>


        <!--      <footer class="my-5 pt-5 text-muted text-center text-small">-->
        <!--        <ul class="list-inline">-->
        <!--          <li class="list-inline-item"><a href="#">GitHub</a></li>-->
        <!--        </ul>-->
        <!--      </footer>-->

        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
        <script src="/static/js/admin.js"></script>
    </body>
</html>